
main{
    padding-top: 150px;
}
/* Contenedor del formulario */
.formulario-container {
    background-color: mintcream;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.formulario-container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #A63E3E;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-group p {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

/* BotÃ³n de envÃ­o */
button {
    background-color: #A63E3E;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* BotÃ³n ocupa todo el ancho */
}

button:hover {
    background-color: #7d2929;
}

input{
    margin-top: 1rem;
}
input::file-selector-button{
    background-color: #A63E3E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    display: inline-block;
}

@media (max-width: 768px) {

    /* Ajuste general */
    body {
        padding: 10px;
    }

    /* Encabezado */
    header h1 {
        font-size: 2em; /* Reduce el tamaÃ±o del encabezado */
        margin-bottom: 15px;
    }

    /* Contenedor del formulario */
    .formulario-container {
        max-width: 100%; /* Aumenta el ancho del formulario para ocupar todo el espacio disponible */
        padding: 20px; /* Reduce el padding del contenedor */
    }

    .formulario-container h2 {
        font-size: 1.5em; /* Reduce el tamaÃ±o del subtÃ­tulo */
        margin-bottom: 15px;
    }

    /* Campos del formulario */
    .form-group {
        margin-bottom: 15px; /* Reduce el espaciado entre campos */
    }

    .form-group label {
        font-size: 1em; /* Reduce el tamaÃ±o del texto de las etiquetas */
    }

    .form-group input, .form-group textarea {
        padding: 8px; /* Reduce el padding de los campos */
        font-size: 0.95em; /* Reduce el tamaÃ±o de la fuente */
    }

    .form-group textarea {
        height: 80px; /* Reduce la altura del Ã¡rea de texto */
    }

    /* BotÃ³n de envÃ­o */
    button {
        padding: 10px 20px; /* Ajusta el padding del botÃ³n */
        font-size: 1.1em; /* Reduce el tamaÃ±o de la fuente */
    }
}
